{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2 class="text-center font-weight-bold mb-5">Login</h2>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}

            {% if error %}
                <span class="text-danger">{{ error.messageKey }}</span>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <label for="_username" class="font-weight-bold">Username</label>
                    <input type="text" name="_username" class="form-control" id="_username" placeholder="Enter username...">
                </div>
                <div class="form-group">
                    <label for="_password" class="font-weight-bold">Password</label>
                    <input type="password" name="_password" class="form-control" id="_password_password" placeholder="Enter password...">
                </div>
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
