{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h2 class="text-center font-weight-bold mb-5">Register</h2>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Enter email...'}}) }}
                    <div class="text-danger">{{ form_errors(form.email) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.username, 'Username', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'Enter username...'}}) }}
                    <div class="text-danger">{{ form_errors(form.username) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.password, 'Password', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Enter password...'}}) }}
                    <div class="text-danger">{{ form_errors(form.password) }}</div>
                </div>

                {{ form_widget(form.register, {'attr': {'class': 'btn btn-primary float-right'}}) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
