{{ form_start(form,{'attr': {'class': 'form-inline my-2 my-lg-0', 'action': path('search')}} ) }}
{{ form_widget(form.keyWord, {'attr': {'class': 'form-control mr-sm-2', 'placeholder':'Enter key word...'}}) }}
{{ form_widget(form.search, {'attr': {'class': 'btn btn-success my-2 my-sm-0'}}) }}
{{ form_end(form) }}
