<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        {{ include('blocks/topbar.html.twig') }}

        <div class="container my-4">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('vendor/popper/popper.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
