{% extends 'base.html.twig' %}

{% block title %}ViNews | Add Article{% endblock %}

{% block body %}
    <h2 class="text-center font-weight-bold mb-4">
        {% if update is defined %}
            Update
        {% else %}
            New
        {% endif %}
        Acticle
    </h2>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder':'Enter title...'}}) }}
        <div class="text-danger">{{ form_errors(form.title) }}</div>
    </div>
    <div class="form-group">
        {{ form_label(form.content, 'Content', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows':'6','placeholder':'Enter content...'}}) }}
        <div class="text-danger">{{ form_errors(form.content) }}</div>
    </div>
    {{ form_end(form) }}

{% endblock %}
