{% extends 'base.html.twig' %}

{% block title %}Detail Article{% endblock %}

{% block body %}
    <h2 class="text-center font-weight-bold">{{ article.title}}</h2>
    <p class="text-center text-dark font-weight-bold small m-1">posted by <em>{{ article.user.username }}</em></p>
    <p class="text-center text-secondary small mb-4">{{ article.createat|date("m-d-Y h:m:s") }}</p>

    <div>{{ article.content}}</div>

{% endblock %}
