{% extends 'base.html.twig' %}

{% block title %}ViNews | List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    <h2 class="text-center font-weight-bold mb-4">List Acticles</h2>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr class="bg-dark text-white text-center">
                <th style="width: 6%">ID</th>
                <th style="width: 32%">Title</th>
                <th style="width: 32%">Content</th>
                <th style="width: 15%">Author</th>
                <th style="width: 15%">Date</th>
            </tr>
            </thead>

            <tbody>

            {% for article in articles %}
                <tr>
                    <td class="text-center">{{ article.id }}</td>
                    <td><a href="{{ path('article_show', {id: article.id}) }}">{{ article.title|slice(0, 35) }}</a>
                    </td>
                    <td>{{ article.content|slice(0, 35) }}</td>
                    <td>{{ article.user.username }}</td>
                    <td class="text-center">{{ article.createat|date("m-d-Y h:m:s") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
