{% extends 'base.html.twig' %}

{% block title %}ViNews | List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    <h2 class="text-center font-weight-bold mb-4">List Acticles of <span class="text-success">{{ username }}</span></h2>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr class="bg-dark text-white text-center">
                <th style="width: 6%">ID</th>
                <th style="width: 35%">Title</th>
                <th style="width: 35%">Content</th>
                <th style="width: 16%">Date</th>
                <th style="width: 8%">Action</th>
            </tr>
            </thead>

            <tbody>

            {% for article in articles %}
                <tr>
                    <td class="text-center">{{ article.id }}</td>
                    <td><a href="{{ path('article_show', {id: article.id}) }}">{{ article.title|slice(0, 35) }}</a>
                    </td>
                    <td>{{ article.content|slice(0, 35) }}</td>
                    <td class="text-center">{{ article.createat|date("m-d-Y h:m:s") }}</td>
                    <td class="text-center d-flex justify-content-around">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-info dropdown-toggle dropdown-toggle-split" type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('article_update', {id: article.id}) }}">
                                    <i class="material-icons article-fi">edit</i> Edit</a>
                                <a class="dropdown-item" href="{{ path('article_delete', {id: article.id}) }}">
                                    <i class="material-icons article-fi">delete</i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
